<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Condensed&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="css/style.min.css">

</head>
<body>
    <div id="search">
        <header class="header">
            <button class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="container">
                <div class="header__wrapper">
                    <nav class="navigation">
                        <a href="#">Каталог</a>
                        <a href="#">Доставка</a>
                        <a href="#">Оплата</a>
                        <a href="#">Контакты</a>
                        <a href="#">О компании</a>
                    </nav>
                    <form action="#" class="header__search">
                        <input type="text" v-model="search" placeholder="Поиск по названию картины">
                        <button type="submit">Найти</button>
                    </form>
                </div>
            </div>
        </header>
        <div class="darken">
        </div>
        <main class="main">
            <section class="modal modal-1 modal_disabled">
                <div class="window">
                    <header class="window-header">
                        <h2>Просмотр товара</h2>
                        <button class="window-header__close"><img src="icons/cross.svg" alt="close window"></button>
                    </header>
                    <h3>«Рождение Венеры» Сандро Боттичелли</h3>
                    <article class="slider">
                        <div class="slider__main">
                            <img class="off" src="img/painting-63186_1280 1.png" alt="slide1">
                            <img src="img/painting-63186_1280 1.png" alt="slide2">
                        </div>
                        <div class="slider__list">
                            <button class="slider__control"><img src="icons/arr_up.png" alt="up"></button>
                            <img src="img/painting-63186_1280 1.png" alt="image1">
                            <img class = "chosen" src="img/painting-63186_1280 1.png" alt="image2">
                            <button class="slider__control"><img src="icons/arr_down.png" alt="up"></button>
                        </div>
                    </article>
                    <article class="description">
                        <p class="description__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                        <p class="description__second">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et explicabo. </p>
                    </article>
                    <footer class="window-footer">
                        <div class="window-prices">
                            <p class="window-prices_old">цена 2 000 000 $</p>
                            <p class="window-prices_new">цена сейчас: 1 000 000 $</p>
                        </div>
                        <button>Купить</button>
                    </footer>
                </div>
            </section>
            <section class="modal modal-2 modal_disabled">
                <div class="window">
                    <header class="window-header">
                        <h2>Просмотр товара</h2>
                        <button class="window-header__close"><img src="icons/cross.svg" alt="close window"></button>
                    </header>
                    <h3>«Тайная вечеря»  Леонардо да Винчи</h3>
                    <article class="slider">
                        <div class="slider__main">
                            <img class="off" src="img/ae973f6678e037cd297053384aa7dca0 1.png" alt="slide1">
                            <img src="img/ae973f6678e037cd297053384aa7dca0 1.png" alt="slide2">
                        </div>
                        <div class="slider__list">
                            <button class="slider__control"><img src="icons/arr_up.png" alt="up"></button>
                            <img src="img/ae973f6678e037cd297053384aa7dca0 1.png" alt="image1">
                            <img class = "chosen" src="img/ae973f6678e037cd297053384aa7dca0 1.png" alt="image2">
                            <button class="slider__control"><img src="icons/arr_down.png" alt="up"></button>
                        </div>
                    </article>
                    <article class="description">
                        <p class="description__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                        <p class="description__second">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et explicabo. </p>
                    </article>
                    <footer class="window-footer">
                        <div class="window-prices">
                            <p class="window-prices_new">цена: 3 000 000 $</p>
                        </div>
                        <button>Купить</button>
                    </footer>
                </div>
            </section>
            <section class="modal modal-3 modal_disabled">
                <div class="window">
                    <header class="window-header">
                        <h2>Просмотр товара</h2>
                        <button class="window-header__close"><img src="icons/cross.svg" alt="close window"></button>
                    </header>
                    <h3>«Сотворение Адама» Микеланджело</h3>
                    <article class="slider">
                        <div class="slider__main">
                            <img class="off" src="img/image-19 1.png" alt="slide1">
                            <img src="img/image-19 1.png" alt="slide2">
                        </div>
                        <div class="slider__list">
                            <button class="slider__control"><img src="icons/arr_up.png" alt="up"></button>
                            <img src="img/image-19 1.png" alt="image1">
                            <img class = "chosen" src="img/image-19 1.png" alt="image2">
                            <button class="slider__control"><img src="icons/arr_down.png" alt="up"></button>
                        </div>
                    </article>
                    <article class="description">
                        <p class="description__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                        <p class="description__second">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et explicabo. </p>
                    </article>
                    <footer class="window-footer">
                        <div class="window-prices">
                            <p class="window-prices_old">цена 6 000 000 $</p>
                            <p class="window-prices_new">цена сейчас: 5 000 000 $</p>
                        </div>
                        <button>Купить</button>
                    </footer>
                </div>
            </section>
            <section class="modal modal-4 modal_disabled">
                <div class="window">
                    <header class="window-header">
                        <h2>Просмотр товара</h2>
                        <button class="window-header__close"><img src="icons/cross.svg" alt="close window"></button>
                    </header>
                    <h3>«Урок анатомии»  Рембрандт</h3>
                    <article class="slider">
                        <div class="slider__main">
                            <img class="off" src="img/20152310142330 1.png" alt="slide1">
                            <img src="img/20152310142330 1.png" alt="slide2">
                        </div>
                        <div class="slider__list">
                            <button class="slider__control"><img src="icons/arr_up.png" alt="up"></button>
                            <img src="img/20152310142330 1.png" alt="image1">
                            <img class = "chosen" src="img/20152310142330 1.png" alt="image2">
                            <button class="slider__control"><img src="icons/arr_down.png" alt="up"></button>
                        </div>
                    </article>
                    <article class="description">
                        <p class="description__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                        <p class="description__second">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et explicabo. </p>
                    </article>
                    <footer class="window-footer">
                        <div class="window-prices">
                            <p class="window-prices_new">Продана на аукционе</p>
                        </div>
                    </footer>
                </div>
            </section>
            <aside class="hamburger-menu">
                <div>
                    <a href="#" >Каталог</a>
                    <a href="#" >Доставка</a>
                    <a href="#" >Оплата</a>
                    <a href="#" >Контакты</a>
                    <a href="#" >О  компании</a>
                </div>
            </aside>
            <section class="catalog">
                <div class="container">
                    <h1>Картины эпохи Возрождения</h1>
                    <catalog class="catalog__wrapper">
                        <div v-if="(search == '«Рождение Венеры» Сандро Боттичелли') || (search == '')" class="card">
                            <div  data-cardmodal-1 class="card__image"><img src="img/painting-63186_1280 1.png" alt="Venera's birthday"></div>
                            <div class="card__text">
                                <h2>«Рождение Венеры» Сандро Боттичелли</h2>
                                <div class="card__prices">
                                    <div class="card__label">
                                        <div class="card__price card__price_old">2 000 000 $</div>
                                        <div class="card__price">1 000 000 $</div>
                                    </div>
                                    <button class="" data-button>Купить</button>
                                    <button class="buffering disabled"><img src="icons/buffering-stage.svg" alt="loading"></button>
                                    <button class="checked disabled"><img src="icons/complete-stage.png" alt="loading"></button>
                                </div>
                            </div>
                        </div>
                        <div v-if="(search == '«Тайная вечеря»  Леонардо да Винчи') || (search == '')" class="card">
                            <div  data-cardmodal-2 class="card__image"><img src="img/ae973f6678e037cd297053384aa7dca0 1.png" alt="The Last Supper"></div>
                            <div class="card__text">
                                <h2>«Тайная вечеря»  Леонардо да Винчи</h2>
                                <div class="card__prices">
                                    <div class="card__label">
                                        <div class="card__price">3 000 000 $</div>
                                    </div>
                                    <button data-button class="shorter-button">Купить</button>
                                    <button class="buffering disabled"><img src="icons/buffering-stage.svg" alt="loading"></button>
                                    <button class="checked disabled"><img src="icons/complete-stage.png" alt="loading"></button>
                                </div>
                            </div>
                        </div>
                        <div v-if="(search == '«Сотворение Адама» Микеланджело') || (search == '')" class="card">
                            <div  data-cardmodal-3 class="card__image"><img src="img/image-19 1.png" alt="Adam's Creation"></div>
                            <div class="card__text">
                                <h2>«Сотворение Адама» Микеланджело</h2>
                                <div class="card__prices">
                                    <div class="card__label">
                                        <div class="card__price card__price_old">6 000 000 $</div>
                                        <div class="card__price">5 000 000 $</div>
                                    </div>
                                    <button data-button>Купить</button>
                                    <button class="buffering disabled"><img src="icons/buffering-stage.svg" alt="loading"></button>
                                    <button class="checked disabled"><img src="icons/complete-stage.png" alt="loading"></button>
                                </div>
                            </div>
                        </div>
                        <div v-if="(search == '«Урок анатомии» Рембрандт') || (search == '')" class="card soldout">
                            <div  data-cardmodal-4 class="card__image"><img src="img/20152310142330 1.png" alt="Anatomy Lesson"></div>
                            <div class="card__text">
                                <h2>«Урок анатомии»  Рембрандт</h2>
                                <div class="card__prices">
                                    <div class="card__label">
                                        <div class="card__price">Продана на аукционе</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </catalog>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <nav class="navigation">
                        <a href="#">Каталог</a>
                        <a href="#">Доставка</a>
                        <a href="#">Оплата</a>
                        <a href="#">Контакты</a>
                        <a href="#">О компании</a>
                    </nav>
                    <address>
                        <a href="tel:+78125555555" class="number">+7 (812) 555-55-55</a>
                        <a href="https://www.google.com/maps?q=%D0%B3.+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D1%83%D0%BB.+%D0%95%D1%84%D0%B8%D0%BC%D0%BE%D0%B2%D0%B0,+3&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi9sdrQ5br0AhVEmYsKHZJOAMEQ_AUoAXoECAEQAw" class="location">г. Санкт-Петербург, ул. Ефимова, 3</a>
                    </address>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>